---
import { Carousel } from 'astro-bootstrap';
import type { CarouselSlideType } from 'astro-bootstrap';


//Importamos Datos/
const apiKey = import.meta.env.PUBLIC_API_TOKEN;

const apiUrl = 'https://api.airtable.com/v0/appnnjkfOvvg37Pvz/Banners?view=Banners';

const dataReq = await fetch(apiUrl, {
  method: 'GET',
  headers: {
    'Authorization': `Bearer ${apiKey}`
  }
})

const responseData = await dataReq.json();

  // Verificar si responseData.records es un array
  if (!Array.isArray(responseData.records)) {
    return null; // O muestra un mensaje de error, o devuelve algo según tu necesidad
  }

  // Asegúrate de que responseData.records es un array antes de mapearlo
  const banners = responseData.records.map(record => record.fields);


const slides: CarouselSlideType[] = banners.map(banner => ({
  img: banner.mobile, 
  alt: banner.alt,
  active: banner.active
}));


const id = 'carouselMobile';
---
<div class="max-h-[60vh] animate-fade-in-up animate-delay-300 animate-duration-slow">
    <Carousel {id} fade>
      <Carousel.Indicators {id} {slides} />
      <Carousel.Inner>
        {
          slides.map((slide) => (
            <Carousel.Item active={slide.active}>
              <img
                src={slide.img}
                class="d-block w-100 object-cover h-[60vh] aspect-auto"
                alt={slide.alt}
              />
            </Carousel.Item>
          ))
        }
      </Carousel.Inner>
      <Carousel.Controls id={id} />
    </Carousel>
</div>
